
<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/chats">
        <img src="C:\Users\Hp\Desktop\CHATBOX PROJECT\views\includes\Logo.png" alt="MessageMate" width="30" height="24">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/chats" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All Chats
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/chats">All Chats</a></li>
              <li><a class="dropdown-item" href="/chats/new">New Chats</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/chats/:messageMate">MessaageMate</a></li>
            </ul>
          </li>
          <a class="nav-link" href="/game">Game Zone</a>
          
           
          </form>
          
      

         
          
        </div>
        <div class="navbar-nav ms-auto">
          
          <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
          <a class="nav-link" href="/login">Login</a>
         
         
          <a class="nav-link" href="/logout">Logout</a>
      
      
    </div>
  </nav>