<% layout("/layouts/boilerplate")%>

<link href="game.css" rel="stylesheet" />



<body>
<h1>Game Zone!..</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/MxmXbBfIugRYaH1sqPVNDlp-NpwNIsuvCd33PLXCwII/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4t/MC5nYW1lczRlc2wu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy9H/dWVzc2luZy1HYW1l/LVBpYy1mdWxsLnBu/Zz9lemltZ2ZtdD1u/Zzp3ZWJwL25nY2Iy/MjIvcnM6ZGV2aWNl/L3JzY2IyMjMtMQ" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Guess the Number Game</h5>
          <p class="card-text">Try to guess the secret number between 1 and 100:</p>
          <a href="/play" class="btn btn-primary">Play the game</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/MxmXbBfIugRYaH1sqPVNDlp-NpwNIsuvCd33PLXCwII/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4t/MC5nYW1lczRlc2wu/Y29tL3dwLWNvbnRl/bnQvdXBsb2Fkcy9H/dWVzc2luZy1HYW1l/LVBpYy1mdWxsLnBu/Zz9lemltZ2ZtdD1u/Zzp3ZWJwL25nY2Iy/MjIvcnM6ZGV2aWNl/L3JzY2IyMjMtMQ" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Word Guessing Game</h5>
          <p class="card-text">Try to guess the secret Word:</p>
          <a href="/playword" class="btn btn-primary">Play the game</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/O9QKG5DHs2Lx4YznqEo_pQnky60WnmazBmAHwG3b-xU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTM0/MjI5NzM5Ny9waG90/by9zZWxlY3Rpb24u/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PWtvRU5BbmI2TWxS/VkZjVlF6eWhteXNz/MURnUklnMWI0bjB4/X0ZFYk1SSFk9" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Checkbox Game</h5>
          <p class="card-text">Fill the box</p>
          <a href="/CheckboxGame" class="btn btn-primary">Play the game</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://imgs.search.brave.com/Hgky0xwJ4ozMoToqYtjbtmR79O4A4Hx1BQZZ1viV3lw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudHdvcGxheWVy/Z2FtZXMub3JnL2Zp/bGVzL2dhbWVzL21v/YmlsZS9vMS9Sb2Nr/X1BhcGVyX1NjaXNz/b3JzL1JvY2tfUGFw/ZXJfU2Npc3NvcnMu/anBnP2F1dG89Zm9y/bWF0Jnc9MjAw" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rock-Paper-Scissors Game</h5>
          <p class="card-text">Play a classic game of Rock-Paper-Scissors</p>
          <a href="/rockpaper" class="btn btn-primary">Play the game</a>
        </div>
      </div>
    </div>
  </div>
  </body>